<nav class="ui-sidenav column align-center justify-start">
  <header class="header column">
    <h1 class="title">DOWNTIMELESS</h1>
    <div class="decorator"></div>
  </header>

  <a class="link" routerLink="dashboard" routerLinkActive="active">
    <div class="link-content row justify-start align-center">
      <ui-icon shape="home-line" marginRight="2rem"></ui-icon>
      Dashboard
    </div>
  </a>

  <a class="link" routerLink="instances" routerLinkActive="active">
    <div class="link-content row justify-start align-center">
      <ui-icon
        section="technology"
        shape="host-line"
        marginRight="2rem"
      ></ui-icon>
      Instances
    </div>
  </a>

  <a class="link" routerLink="groups" routerLinkActive="active">
    <div class="link-content row justify-start align-center">
      <ui-icon shape="folder-open-line" marginRight="2rem"></ui-icon>
      Groups
    </div>
  </a>

  <hr class="separator" />

  <a class="link" routerLink="problems" routerLinkActive="active">
    <div class="link-content row justify-start align-center">
      <ui-icon
        section="essential"
        shape="bug-line"
        marginRight="2rem"
      ></ui-icon>
      Problems
    </div>
  </a>

  <a class="link" routerLink="actions" routerLinkActive="active">
    <div class="link-content row justify-start align-center">
      <ui-icon
        section="essential"
        shape="bolt-line"
        marginRight="2rem"
      ></ui-icon>
      Actions
    </div>
  </a>

  <hr class="separator" />

  <a class="link" routerLink="users" routerLinkActive="active">
    <div class="link-content row justify-start align-center">
      <ui-icon shape="user-line" marginRight="2rem"></ui-icon>
      Users
    </div>
  </a>
</nav>
