/* You can add global styles to this file, and also import other style files */

@import "~normalize.css";

@import "app/shared/colors";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  font-size: 12px;
  box-sizing: border-box;
}

html,
body,
.root {
  margin: 0;
  width: 100%;
  min-height: 100vh;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: "Titillium Web", sans-serif;
  background-color: $gray-darker;
}

.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}

.align-start {
  align-items: flex-start;
}

.align-center {
  align-items: center;
}

.align-end {
  align-items: flex-end;
}

.justify-start {
  justify-content: flex-start;
}

.justify-center {
  justify-content: center;
}

.justify-end {
  justify-content: flex-end;
}

.justify-between {
  justify-content: space-between;
}

.justify-around {
  justify-content: space-around;
}
